@charset "UTF-8";

/* =============================
   Base
============================= */
html {
  font-size: 100%;
}

body {
  color: #383e45;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: #24292e;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px;
  padding: 0 4%;
  text-align: center;
}

.section-title {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 60px;
  border-bottom: 1px solid #383e45;
}

.content-title {
  font-size: 1rem;
  margin: 10px 0;
}

/* =============================
   Header
============================= */
.siteheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4%;
}

.site-title {
  width: 120px;
  line-height: 1px;
}

.site-title a {
  display: block;
}

.siteheader ul {
  display: flex;
}

.siteheader li {
  margin-left: 30px;
}

.siteheader li a:hover {
  opacity: 0.7;
}

/* =============================
   Mainvisual
============================= */
#mainvisual {
  margin-bottom: 80px;
}

#mainvisual img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* =============================
   About
============================= */
#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

#about .text {
  text-align: left;
}

/* =============================
   Bicycle
============================= */
#bicycle ul {
  display: flex;
  justify-content: space-between;
}

#bicycle li {
  width: 32%;
}

/* =============================
   Footer
============================= */
#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}

/* =============================
   Responsive
============================= */
@media screen and (max-width: 600px) {

  #mainvisual img {
    height: calc(100vh - 60px);
  }

  #about .content {
    flex-direction: column;
  }

  #about img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #bicycle ul {
    flex-direction: column;
  }

  #bicycle li {
    width: 100%;
    margin-bottom: 30px;
  }

}
